.popover {
  position: absolute;
  max-width: calc(100vw - 3.2rem);
  margin: .5rem .8rem 1.6rem;
  box-shadow: 0 0 0 1px rgba(6,44,82,.1), 0 2px 16px rgba(33,43,54,.08);
  border-radius: 3px;
  will-change: left,top;
  width: 280px;
  height: 340px;
  overflow: hidden;
  background: white;
  transform: translateY(-101%);
  margin-top: -30px;
}